* {box-sizing: border-box;}

html,body{
    height: 100%;
}

body{
    font-family: sans-serif;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Player */

.player{
    min-width: 320px;
    background-image: linear-gradient(black,gray);
    border-radius: 1rem;
    padding: 2rem;
    color: white;
    box-shadow: 2px 3px black;
}

/* Title */

/* Cover */

/* Progress */

/* Controls */

/* Songs */